.footer-container {
    width: 100%;
}

.footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: #2C3440;
    gap: 2rem;
    padding: 0.1rem;
}

.nav-item {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.75rem;
    color: white;
    transition: all 0.2s ease;  /* Smooth transition for all properties */
    transform: scale(1);
}

.nav-item:hover {
    transform: scale(1.1);  /* Makes button 10% bigger */
}